@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@layer components {
  /*Common Classes */

  .description-text {
    @apply text-customBlack font-inter text-base not-italic font-normal leading-relaxed tracking-litleTight md:pr-6;
  }
  .section-title {
    @apply lg:text-40 leading-[115%] font-medium font-inter lg:tracking-tighter text-customBlack pl-4;
  }
  .sub-title-section {
    @apply text-green font-inter text-xl leading-18 pl-4;
  }
  /*Buttons  */

  .btn-conntact {
    @apply flex justify-center w-[250px] py-3 px-6 pt-3.5 items-center gap-2.5 bg-green text-grey rounded-200 cursor-pointer hover:bg-green500 hover:text-gray100;
  }
  .btn-showWork {
    @apply flex justify-center w-[250px] py-3 px-6 pt-3.5 items-center gap-2.5  text-green rounded-200 border border-green cursor-pointer hover:bg-beigeLighter;
  }
  .btn-meetUs {
    @apply flex py-3 px-6 pt-3.5 items-center gap-2.5  text-white rounded-200 border border-white cursor-pointer hover:bg-green500;
  }
  /* Navbar */

  .nav-list {
    @apply animate-slideDown gap-12 md:top-12 z-10 absolute top-[48px] md:static md:flex;
  }
  .list {
    @apply cursor-pointer hover:text-green500 bg-white h-16 w-40 flex justify-start items-center pl-4 transition duration-300 md:h-6 md:w-20 md:justify-center;
  }
  .show-list {
    @apply absolute top-0 right-40 md:right-96 md:top-[46px]  z-10 flex flex-col  items-center h-0 overflow-hidden transition-all ease-out duration-300;
  }
  .show-list-element {
    @apply bg-white w-40 h-16 flex justify-start items-center px-4 cursor-pointer hover:bg-grey hover:text-green hover:shadow-md transition duration-300;
  }
  /* Section  Intro*/

  .intro-title {
    @apply font-montserrat font-semibold   lg:text-60 text-2xl lg:leading-70  text-customBlack text-center lg:text-left;
  }

  .intro-photo {
    @apply flex lg:max-w-[688px] lg:min-h-[737px] md:w-full md:min-h-[537px] w-full min-h-[350px]  flex-col justify-end items-center flex-shrink-0 bg-[url('./src/assets/images/introPhoto.png')] bg-lightgray bg-cover bg-no-repeat rotate-180;
  }

  /* Section Ofert */

  .section-ofert-showCase {
    @apply flex flex-col bg-white w-[340px] lg:w-378 h-370 px-10 py-12 items-start rounded-20 gap-8 hover:scale-110 transform transition-transform;
  }
  .section-ofert-showCase-title {
    @apply font-montserrat  text-customBlack text-28 font-medium leading-[115%] tracking-tighter;
  }
  .section-ofert-showCase-description {
    @apply font-inter text-customBlack text-sm leading-[150%] tracking-litleTight;
  }
  .section-ofert-learn-more {
    @apply flex gap-[10px] text-green font-inter border-b-2;
  }
  .section-ofert-learn-more-arrow {
    @apply w-4 -rotate-90;
  }
  /* Section Frim */

  .aboutFirm-photo {
    @apply flex lg:w-[50%] lg:min-h-[720px] w-screen h-[400px] flex-col justify-end items-center flex-shrink-0 bg-[url('./src/assets/images/aboutFirmPhoto.png')] bg-lightgray bg-cover bg-no-repeat;
  }

  /* Section Realization */

  .grid-item {
    @apply lg:columns-3 columns-3 lg:gap-28 lg:w-[1440px]   pt-20 pb-28;
  }
  .grid-item-shadow {
    @apply bg-shadow-gradient lg:h-[1200px] h-[400px] w-full absolute bottom-0 z-10;
  }
  .grid-btn {
    @apply absolute bottom-11 border border-customBlack  rounded-200 flex py-3 px-6 pt-3.5 items-center gap-2.5 z-20 hover:bg-beigeLighter;
  }
  /* Section Contact */

  .contact {
    @apply lg:w-[1040px] md:flex-row flex flex-col justify-center items-center text-center bg-green gap-8 lg:gap-16 py-16 lg:py-30;
  }
  .contact-text {
    @apply font-montserrat lg:text-40 text-grey leading-[120%];
  }
  .conntact-btn {
    @apply border-none  bg-grey rounded-200 flex py-3 px-6  items-center gap-2.5 text-green hover:bg-gray100;
  }
  /* Section Footer  */

  .footer-social-link {
    @apply font-inter text-[14px] leading-[150%] text-grey hover:text-green500;
  }
  .footer-info {
    @apply font-inter text-[14px] leading-[150%] text-grey;
  }
}
